html{
    font-family: 'Quicksand', sans-serif;
    font-weight: bold; 
     
}
    /* COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/ 

body {
    background-image: linear-gradient(#134d71,#78a7c6, #f7e4bf);
    height: 100vh; 
    
}

.hidden {
    display: none !important; 
}

.header {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-top: 50px;
    font-size: 30px;
}

.question {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-top: 75px;
    font-size: 15px;
}

.main-page {
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.message-type-box {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    width: 500px;
    height: 75px;
    border-radius: 5px;
    padding: auto;
    
}

 .radio-button-selection {
    font-style: italic;
    font-weight: lighter;
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin-top: 10px;
}

.receive-message {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    align-content: flex-end;
    align-content: center;
}

.receive-message-button {
    background-color: #134d71;
    color: #ffffff;
    border-radius: 5px;
    margin-top: 20px;
}

.message-received {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: auto;
    background: #ffffff;
    border-radius: 10px;
    width: 700px;
    height: 150px;
    margin-top: 150px;
}

.meditate-image {
    justify-content: center;
    display: flex;
    height: 75px;
    width: 75px;
}

.favorite-button {
    background: #134d71;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 15px;
    margin: 10px;
    padding: 10px 20px;
}

.saved-messages-btn {
    background: #134d71;
    color: #ffffff;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 15px;
    padding: 10px 20px;
}


.favorites {
    color: #000000;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: auto;
    display: flex;
    background: #ffffff;
    border-radius: 10px;
    width: 630px;
    height: 95px;
    margin-top: 15px;
}

.home-button {
    display: flex;
    align-items: center;
    background: #134d71;
    color: #ffffff;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 15px;
    padding: 10px 20px;
}

.home {
    display: flex;
    align-items: center;
    align-content: center;
}

.delete-button {
    display: flex;
    align-items: center;
    background: #134d71;
    color: #ffffff;
    border-radius: 5px;
    margin-top: 0px;
    font-size: 11Px;
    padding: 5px 9px;
    margin-bottom: 15px;
    justify-content: space-between;

}



